@{
    ViewData["Title"] = "Home Page";
}

<!-- Main content area with a text-center class for center alignment -->
<div class="text-center">
    <!-- Main heading of the page with display-4 class for large text -->
    <h1 class="display-4">Welcome</h1>

    <!-- Paragraph with a link to learn more about building Web apps with ASP.NET Core -->
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>
